@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

$font_basic:  'Montserrat', sans-serif;
$color_basic: #515051;
$color_header: #fff;
$bg_basic: #fff;
$bg_header: #373c3f;
